body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #5e5e5e 0%, #dadada 15%, #f0f0f0 80%, #717171 95%, #afafaf 100%);
    color: #3a3a3a; /* Text color for light text on dark background */
    min-height: 100vh;
    padding-bottom: 60px; /* Adjusted padding */
    box-sizing: border-box;
    overflow-y: overlay; /* Always show scrollbar */
    scrollbar-width: thin; /* Width of scrollbar */
    scrollbar-color: #555 #333; /* Color of scrollbar */
    height: 100%; /* Ensure body takes full height of viewport */
    background-color: #121212; /* Background color */
}
.top-banner {
    position: static;
    top: 0px;
    left: 0px;
    width: 100%;Niederspannungs-Hochleistungs-Sicherungen, kurz NH-Sicherungen
    background-color: #333;
    padding: 0px 0;
    text-align: left;
    background: linear-gradient(to bottom, rgba(0, 0, 250, 0.7) 0%, rgba(0, 144, 200, 0.7) 10%, rgba(0, 120, 120, 0.7) 100%); /* Gradient background */
    color: white; /* Text color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Shadow effect */
    overflow-x: auto;
}
.logo {
    position: relative;
    top: 20px;
    left: 20px;
}
.toptext-box {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 330px;
    height: 5px;
    background-color: ;
    margin-top: 0px;
    margin-left: 400px; /* Adjust this value to set the desired offset */
}
.toptext {
    margin-left: 0px;
    top: 0px;
    left: 0px;
    padding: 0px 0; /* Add padding for better visibility */
    text-align: left; /* Center-align text */
    font-size: 14px; /* Adjust font size */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow-x: auto; /* Enable horizontal scrolling if text overflows */
}
.button {
    position: relative;
    float: left;
    display: inline-block;
    padding: 5px 10px;
    background: rgba(0, 0, 80, 0.3); /* Set gradient background with transparency */
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.buttontop {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 5px;
    background: linear-gradient(to top, rgba(85, 85, 85, 0.3), rgba(0, 0, 0, 0.3)); /* Set gradient background with transparency */
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}
.contact-banner {
    position: fixed; /* Fixed position at the bottom of the viewport */
    bottom: 0;
    left: 0;
    width: 100%; /* Full width */
    background: linear-gradient(to bottom, rgba(0, 0, 250, 0.7) 0%, rgba(0, 144, 200, 0.5) 10%, rgba(0, 120, 120, 0.5) 100%); /* Adjust colors as needed */
    padding: 0px 0; /* Add padding for better visibility */
    text-align: center; /* Center-align text */
    box-sizing: border-box; /* Include padding and border in the width */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); /* Add a shadow for better separation from content */
    font-size: 16px; /* Adjust font size */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow-x: auto; /* Enable horizontal scrolling if text overflows */
}
.contact-banner span {
    margin-right: 40px; /* Adjust this value to set the desired space between text */
    color: white; /* Example of styling applied to spans */
}
/* Scrollbar Track */
body::-webkit-scrollbar-track {
    background: #333;
}
/* Scrollbar Handle */
body::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 3px solid #333;
}
/* Scrollbar Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}
  /* Ensure scrollbar always visible */
body:hover::-webkit-scrollbar-thumb {
    background-color: #555; /* Change color on hover */
}
h1 {
    color: #101010;
    margin-left: 30px;
    font-style: bold;
    font-size: 40px;
}
h2 {
    color: #151515;
    margin-left: 30px;
    font-style: bold;
    font-size: 20px;
}
.t1 {
    color: #2a2a2a;
    font-style: ;
    font-size: 20px;
    padding: 20px;
    width: 800px;
    height: auto;
}
.signature {
    position: static;
    bottom: 40px;
    left: 100px;
    padding: 30px;
    color: white;
    font-style: ;
    font-size: 10px;
}
.image {
    border: 0px solid black;
    width: auto;
    height: 700px;
    margin-left: 70px;
}
.figure {
    margin:0px 20px;
    display:inline-block;
    text-decoration:none;
    text-align: center;
    color:#101010;
}
.figcaption {
    display: inline-block;
    color: #101010;
}

a:link {
    color: #212121;
    text-decoration: none;
}
a:visited {
    color: #2b2b2b;
    text-decoration: none;
}
a:hover {
    color: #030303;
    text-decoration: none;
    font-size:100%;
}
th, td {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 10px;
}
